/* CSS Styles */

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

/* Header Styles */
.header {
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 390px;
    padding: 16px;
    size: 24px;
    color: #F9FAF8;
}

.left, .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    color: #E5E7EB;
    size: 18px;
}

/* Hero Content Styles */
.content-1 {
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container-1 {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}

.container-head{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.container-text{
    font-size: 18px;
    color: #E5E7EB;
}

.sign-button {
    color: white;
    background-color: blue;
    border-radius: 10px;
    padding: 8px 16px;
}

.img-container-2 {
    width: 300px;
    height: 100px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}



